section {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

body:nth-child(1){
  margin: 0 auto;
}

section > section {
  width: 100%;
}

div {
  width: 100%;
  /* background: blue; */
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

body :nth-child(1) > div:nth-child(1) {
  height: 75px;
}

body :nth-child(1) > div:nth-child(2) {
  height: 150px;
}

body :nth-child(1) > section:nth-child(3) > div:nth-child(1), div:nth-child(2) {
  height: 125px;
}

body :nth-child(1) > section:nth-child(3) > div:nth-child(3), div:nth-child(4), div:nth-child(5), div:nth-child(6) {
  height: 250px;
  width: 50%;
}

body :nth-child(1) > div:nth-child(1) {
  background-color: gray;
}


body :nth-child(1) > div:nth-child(2) {
  background-color: chocolate;
}

body :nth-child(1) > section:nth-child(3) > div:nth-child(1) {
  background-color: blue;
  height: 80px;
}

body :nth-child(1) > section:nth-child(3) > div:nth-child(2) {
  background-color: blanchedalmond;
}

body :nth-child(1) > section:nth-child(3) > div:nth-child(3) {
  background-color: rgb(250, 154, 11);
}

body :nth-child(1) > section:nth-child(3) > div:nth-child(4) {
  background-color: rgb(107, 109, 119);
}


body :nth-child(1) > section:nth-child(3) > div:nth-child(5) {
  background-color: rgb(80, 74, 61);
}

body :nth-child(1) > section:nth-child(3) > div:nth-child(6) {
  background-color: rgb(4, 195, 100);
}

body :nth-child(1) > section:nth-child(3) > div:nth-child(7) {
  background-color: rgb(7, 177, 154);
}



@media (min-width:425px) {
  body {
    width: 90%;
    /* display: flex; */
    margin: 0 auto;
  }

  /* div {
    background: green;
  } */

  body :nth-child(1) > div:nth-child(2) {
    height: 200px;
    width: 100%;
  }

  body :nth-child(1) > section:nth-child(3) > div:nth-child(1), div:nth-child(2) {
    height: 400px;
    width: 50%;
  }

  body :nth-child(1) > section:nth-child(3) > div:nth-child(3), div:nth-child(4),
  div:nth-child(5),
  div:nth-child(6) {
    height: 250px;
    width: 25%;
  }

  body :nth-child(1) > div:nth-child(1) {
    background-color: gray;
  }
  
  
  body :nth-child(1) > div:nth-child(2) {
    background-color: rgb(65, 59, 55);
  }
  
  body :nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    background-color: rgb(131, 46, 46);
  }
  
  
  body :nth-child(1) > section:nth-child(3) > div:nth-child(2) {
    background-color: rgb(94, 139, 21);
  }
  
  body :nth-child(1) > section:nth-child(3) > div:nth-child(3) {
    background-color: rgb(235, 8, 57);
  }
  
  body :nth-child(1) > section:nth-child(3) > div:nth-child(4) {
    background-color: rgb(255, 0, 212);
  }
  
  
  body :nth-child(1) > section:nth-child(3) > div:nth-child(5) {
    background-color: rgb(58, 61, 83);
  }
  
  body :nth-child(1) > section:nth-child(3) > div:nth-child(6) {
    background-color: rgb(204, 223, 213);
  }
  
  body :nth-child(1) > section:nth-child(3) > div:nth-child(7) {
    background-color: rgb(20, 42, 39);
  }
}

@media (min-width:960px) {
  body {
    flex-direction: column;
  }
  
  body > section {
    width: 90%;
    margin: 0 auto;
  }

  
  /* div {
    background: red;
  } */
  
  body :nth-child(1) > div:nth-child(1) {
    height: 100px;
    /* width: 960px; */
    width: 100%;
    /* background-color: green; */
  }
  
  body :nth-child(1) > div:nth-child(2) {
    height: 600px;
    /* width: 200px; */
    width: 21%;
  }
  
  body :nth-child(1) section:nth-child(3) {
    display: flex;
    /* width: 760px; */
    width: 79%;
    flex-flow: row wrap;
}

  body :nth-child(1) > section:nth-child(3) > div:nth-child(1), div:nth-child(2){
    height: 200px;
  }
  
  body :nth-child(1) > section:nth-child(3) > div:nth-child(3), div:nth-child(4),
  div:nth-child(5),
  div:nth-child(6) {
    height: 250px;
  }
  
  body :nth-child(1) > section:nth-child(3) > div:nth-child(7) {
    height: 150px;
  }

  body :nth-child(1) > div:nth-child(1) {
    background-color: rgb(42, 3, 3);
  }
  
  
  body :nth-child(1) > div:nth-child(2) {
    background-color: rgb(8, 191, 246);
  }
  
  body :nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    background-color: rgb(29, 15, 105);
  }
  
  
  body :nth-child(1) > section:nth-child(3) > div:nth-child(2) {
    background-color: rgb(149, 161, 130);
  }
  
  body :nth-child(1) > section:nth-child(3) > div:nth-child(3) {
    background-color: rgb(90, 56, 63);
  }
  
  body :nth-child(1) > section:nth-child(3) > div:nth-child(4) {
    background-color: rgb(253, 236, 0);
  }
  
  
  body :nth-child(1) > section:nth-child(3) > div:nth-child(5) {
    background-color: rgb(39, 18, 3);
  }
  
  body :nth-child(1) > section:nth-child(3) > div:nth-child(6) {
    background-color: rgb(47, 76, 77);
  }
  
  body :nth-child(1) > section:nth-child(3) > div:nth-child(7) {
    background-color: rgb(124, 6, 75);
  }
}